<section class="banner-section">
  <owl-carousel-o class="banner-carousel" [options]="customOptions">
    <ng-template carouselSlide>
      <div class="slide-item">
        <div class="image-layer" style="background-image:url(https://media.discordapp.net/attachments/649189809339760641/649190044409659413/Background_Fallujah.jpg)"></div>

        <div class="auto-container">
          <div class="content-box">
            <h2>The place <br> for squad</h2>
            <div class="btn-box"><a href="#" class="theme-btn btn-style-one"><span class="btn-title">Learn more</span></a></div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide-item">
        <div class="image-layer" style="background-image:url(https://media.discordapp.net/attachments/649189809339760641/649190044409659413/Background_Fallujah.jpg)"></div>

        <div class="auto-container">
          <div class="content-box">
            <h2>The place <br> for squad</h2>
            <div class="btn-box"><a href="#" class="theme-btn btn-style-one"><span class="btn-title">Learn more</span></a></div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide-item">
        <div class="image-layer" style="background-image:url(https://media.discordapp.net/attachments/649189809339760641/649190044409659413/Background_Fallujah.jpg)"></div>

        <div class="auto-container">
          <div class="content-box">
            <h2>The place <br> for squad</h2>
            <div class="btn-box"><a href="#" class="theme-btn btn-style-one"><span class="btn-title">Learn more</span></a></div>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</section>
