<section class="questions-section">
  <div class="auto-container">
    <!-- Sec Title -->
    <div class="sec-title centered">
      <div class="title">Frequently Asked Questions</div>
      <h2>Question & Answers</h2>
    </div>

    <!-- Inner Container -->
    <div class="inner-container">
      <div class="row clearfix">

        <!-- Question Block -->
        <div class="question-block col-lg-6 col-md-12 col-sm-12">
          <div class="inner-box">
            <div class="icon-box">
              <span class="icon flaticon-question"></span>
            </div>
            <h3><a href="#">How do I play?</a></h3>
            <div class="text">Simply feel free to join any of our public servers in the game of your choosing. You're also welcome to join our public discord voice channels for each of those servers.</div>
          </div>
        </div>

        <!-- Question Block -->
        <div class="question-block col-lg-6 col-md-12 col-sm-12">
          <div class="inner-box">
            <div class="icon-box">
              <span class="icon flaticon-question"></span>
            </div>
            <h3><a href="#">Is there any age restrictions?</a></h3>
            <div class="text">In order to provide a fun and respectible experience for everyone, we require members to be 18+. This allows us to not be restricted by age limited content.</div>
          </div>
        </div>

        <!-- Question Block -->
        <div class="question-block col-lg-6 col-md-12 col-sm-12">
          <div class="inner-box">
            <div class="icon-box">
              <span class="icon flaticon-question"></span>
            </div>
            <h3><a href="#">How do I join Fear and Terror?</a></h3>
            <div class="text">If you meet all the requirements, feel free to submmit an application <a href="#">here</a>. It will be reviewed by one of our staff members and you'll be invited for an interview.</div>
          </div>
        </div>

        <!-- Question Block -->
        <div class="question-block col-lg-6 col-md-12 col-sm-12">
          <div class="inner-box">
            <div class="icon-box">
              <span class="icon flaticon-question"></span>
            </div>
            <h3><a href="#">Who is in Fear and Terror?</a></h3>
            <div class="text">Fear and Terror consists of a lot of like minded adults that play games and have fun. While we take our gaming seriously, we try not to take ourselves too seriously.</div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
